<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net471" />
  <package id="Accord.Genetic" version="3.8.0" targetFramework="net471" />
  <package id="Accord.Math" version="3.8.0" targetFramework="net471" />
  <package id="Accord.Neuro" version="3.8.0" targetFramework="net471" />
  <package id="CsvHelper" version="12.1.2" targetFramework="net471" />
  <package id="MathNet.Numerics" version="4.8.1" targetFramework="net471" />
  <package id="MathNet.Numerics.MKL.Win" version="2.3.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net471" />
  <package id="OpenCvSharp3-AnyCPU" version="4.0.0.20181129" targetFramework="net471" />
  <package id="SharpLearning.Common.Interfaces" version="0.31.4" targetFramework="net471" />
  <package id="SharpLearning.Containers" version="0.31.4" targetFramework="net471" />
  <package id="SharpLearning.InputOutput" version="0.31.4" targetFramework="net471" />
  <package id="SharpLearning.Metrics" version="0.31.4" targetFramework="net471" />
  <package id="SharpLearning.Neural" version="0.31.4" targetFramework="net471" />
  <package id="SiaNet" version="0.4.2.67" targetFramework="net471" />
  <package id="SiaNet.Engine" version="0.4.2.67" targetFramework="net471" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net471" />
  <package id="System.Drawing.Common" version="4.5.1" targetFramework="net471" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net471" />
  <package id="System.Memory" version="4.5.0" targetFramework="net471" />
  <package id="System.Numerics.Tensors" version="0.1.0" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net471" />
</packages>